

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.navbar-inner img{
	float:left;
	margin:12px 0;
}
.navbar-form{
	margin:12px 0;
}
hr{
	margin-bottom:10px;
}
.btn.btn-navbar{
	padding:8px 8px 11px 8px;
	margin:12px 17px 0 0;
}

.tab-pane .btn-group{
	width:100%;
	text-align: right;
	margin-bottom: 10px;
}

.btn-group-vertical .btn,
.btn-group-vertical{
	width:100%;
	border-radius: 0 !important;
	background: #EEE;
	text-align: left;
	font-size: 12px;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.btn-group-vertical div{
	margin:4px;
}

.btn-group-vertical .btn.active{
	background: #DDD;
}

.accordion-heading .accordion-toggle{
	padding:10px 12px;
}

.hero-unit{
	padding:14px 14px;
	margin:0 0 10px 0;
	border-radius: 6px;
	background: #CCC;
}
.hero-unit h1{
	font-size: 32px;
	line-height: 33px;
	margin-bottom: 10px;
}
.hero-unit h2{
	font-size: 22px;
	line-height: 23px;
	margin-bottom: 10px;
}

.thumbnail{
	padding:14px 14px;
	border-radius: 6px;
	background: #FFF;
}
.thumbnail img{
	margin:0 0 14px 0;
	border-radius: 6px;
}
.thumbnail h3{
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 10px;
}

#pageTabs li:first-child,
#pageTabs li:last-child{
	display: none;
}

.nav.nav-pills{
	float: right;
}
.nav.nav-pills li a{
	font-size: 12px;
	text-indent: 0;
	background: #DDD;
	margin:0;
	padding:4px 6px;
}
.nav.nav-pills li a:hover{
	background: #EEE;
}
.btn-group-vertical .nav.nav-pills{
	position: absolute;
	right:4px;
	margin:4px;
}




@media (max-width: 979px){
	.navbar-inner img{
		margin:10px 16px;
	}
}





